.register-container {
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.register-card {
  background: #ffffff;
  padding: 35px 30px;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  width: 100vw;
  max-width: 420px;
  margin: 20px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.register-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
}

.register-form {
  width: 100%;
  max-width: 800px;
  padding: 40px 50px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 2px solid rgba(0, 123, 255, 0.7);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  transition: all 0.3s ease-in-out;
}

.register-form:hover {
  transform: translateY(-3px);
  border-color: #007bff;
  box-shadow: 0 8px 35px rgba(0, 123, 255, 0.3);
}

.register-form label {
  font-weight: 600;
  color: #333;
}

.register-form input {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 8px;
}

.register-form button {
  border-radius: 8px;
  transition: 0.2s all ease-in-out;
  font-weight: 600;
}

.register-form button:hover {
  background-color: #007bff;
  transform: scale(1.02);
}